body {
  padding: 20px;
  background-color: #ecf0f1
}

.list-group {
  margin-top: 20px;
}

canvas {
  max-width: 100%;
  height: auto;
}

.border {
  margin-top: 20px;
}

.modal-dialog {
  max-width: 90%; 
}

.list-group-item {
  margin-bottom: 10px; /* Ajoute une marge en bas de chaque élément de la liste */
}


input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
  background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond avec une opacité de 50% */
}

